[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=alertmanager
Group=alertmanager
ExecStart=/usr/local/bin/alertmanager \
  --config.file=/etc/alertmanager/alertmanager.yml \
  --storage.path=/data/alertmanager \
  --web.external-url http://$_SERVER_IP:9093 \
  --cluster.advertise-address="$_SERVER_IP:9093"


Restart=always

[Install]
WantedBy=multi-user.target